/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html,
body {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-color: #21282a;
  margin: 0;
  padding: 0;
}

.line {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 1px;
  margin-top: 0.9em;
}

.line::before {
  content: "";
  width: 100%;
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transform-origin: left;
  animation: scaleX 1s forwards 0.1s;
}

h1 {
  margin-right: 10px;
}

@keyframes scaleX {
  to {
    transform: scaleX(1);
  }
}
