@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #21282a !important;
  color: white;
}

.line {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  opacity: 0.5;
}

.line::before {
  content: "";
  width: 100%;
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transform-origin: left;
  animation: scaleX 1s forwards 0.1s;
}

@keyframes scaleX {
  to {
    transform: scaleX(1);
  }
}
