@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #21282a !important;
  color: #ffffff !important;
  scroll-behavior: smooth;
  text-align: justify;
  hyphens: auto;
  word-spacing: normal;
  letter-spacing: 0.5px;
}

.mouse {
  width: 1.5rem;
  height: 2.4rem;
  border: 0.1rem solid #ffffff;
  border-radius: 1.8rem;
  position: relative;
  transition: opacity 0.5s ease-out;
}

.mouse::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0.3125rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 1.8rem;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 1.8rem;
  }
}

.line {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.3;
}

.line::before {
  content: "";
  width: 100%;
  border-bottom: 0.0625rem solid #fff;
  transform: scaleX(0);
  transform-origin: left;
  animation: scaleX 1s forwards 0.3s;
}

@keyframes scaleX {
  to {
    transform: scaleX(1);
  }
}

@keyframes scaleY {
  to {
    transform: scaleY(1);
  }
}
